<%- include('../partials/header') %>
<body>
  <table id="list">
    <thead>
      <tr>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <% locations.forEach(function(l) { %>
      <tr>
        <td class="index-location-name"><%= l.locationName %></td>
        <td><button class="sub-button"><a href="/locations/<%= l._id %> ">About</a></button></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>
