<%- include('../partials/header') %>
<body>
  <table id="list">
    <thead>
      <tr>
        <th class="location-head">Locations</th>
      </tr>
    </thead>
    <tbody>
      <% locations.forEach(function(l) { %>
      <tr>
        <td class="index-location-name"><%= l.locationName %></td>
        <td><a class="sub-button" href="/locations/<%= l._id %> "><button >Details</button></a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>
