<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> </title>
<link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>
</html>
<body>
    <a href="/locations/new">New Location</a>
    <a href="/locations">All Locations</a>
</body>
