/* .brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
} */

nav {
  background-color: rgb(5, 107, 69);
  border: 2px solid black;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -9px;
  padding-bottom: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: aliceblue;
}

body {
  background-color: white;
  /* display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "section" */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

table {
  /* styles index */
  display: flex;
  flex-direction: column;
  align-items: center;
}

tr td button {
  background-color: #008cba;
  border: none;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

body .show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-form{
  display: flex;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

/* .loc-detail-show{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
} */

/* show index */
/* section table{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
} */

/* .loc-detail-show{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;

  
}

.comments.sec{
  /* display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem; */

/* flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
} */
